<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="EllipticBit" value="https://pkgs.dev.azure.com/ellipticbit/_packaging/ellipticbit/nuget/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<EllipticBit>
			<add key="Username" value="adamw" />
			<add key="ClearTextPassword" value="%EB_NUGET_TOKEN%" />
		</EllipticBit>
	</packageSourceCredentials>
</configuration>